
services:
  db:
    container_name: postgresql_db
    image: postgres:18
    restart: unless-stopped
    ports:
      - "5432:5432"
    expose:
      - "5432"
    environment:
      - POSTGRES_USER=$POSTGRES_USER
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
      - POSTGRES_DB=$POSTGRES_DB
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - db_data:/var/lib/postgresql/18/main
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 10s 
      retries: 5
      start_period: 10s

  webapi:
    container_name: aspnet_web_api
    build:
      context: ./backend
      dockerfile: ./WebAPI/Dockerfile
    restart: unless-stopped
    env_file: ./backend/WebAPI/.env
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
        restart: true
      minio:
        condition: service_healthy
      redis:
        condition: service_healthy
      mailhog:
        condition: service_started
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8080/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s

  frontend:
    container_name: next_frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      - NODE_TLS_REJECT_UNAUTHORIZED=0
      - SERVER_API_URL=${SERVER_API_URL}
      - FILE_SERVER_URL=${FILE_SERVER_URL}
    ports:
      - "3000:3000"
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    depends_on:
      nginx:
        condition: service_healthy
        restart: true

  moderation-app:
    container_name: moderation_app
    build:
      context: ./moderation-app
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=production
    depends_on:
      nginx:
        condition: service_healthy
        restart: true
     
  file-service:
    build:
      context: ./file-service
      dockerfile: ./Dockerfile
    ports:
      - "8005:8005"
    environment:
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY_ID=$MINIO_ROOT_USER
      - MINIO_SECRET_ACCESS_KEY=$MINIO_ROOT_PASSWORD
      - MINIO_USE_SSL=false
      - MINIO_PRESIGN_EXPIRY=15m
    depends_on:
      minio:
        condition: service_healthy
        restart: true
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8005/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s

  minio:
    container_name: minio_s3
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    restart: unless-stopped
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=$MINIO_ROOT_USER
      - MINIO_ROOT_PASSWORD=$MINIO_ROOT_PASSWORD
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9000/minio/health/live"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
      
  nginx:
    container_name: nginx
    image: nginx:1.29.2-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost/health"]
      interval: 10s
      timeout: 5s
      retries: 3
    depends_on:
      minio:
        condition: service_healthy
      file-service:
        condition: service_healthy
      webapi:
        condition: service_healthy

  redis:
    container_name: redis
    image: redis:8.2-alpine
    restart: unless-stopped
    command: >
      redis-server --requirepass ${REDIS_PASSWORD} --appendfsync everysec
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_USER=${REDIS_USER}
      - REDIS_USER_PASSWORD=${REDIS_USER}
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD-SHELL", "redis-cli -a ${REDIS_PASSWORD} ping"]
      interval: 10s
      timeout: 10s
      retries: 5
      
  mailhog:
    container_name: mailhog
    image: mailhog/mailhog
    restart: unless-stopped
    ports:
      - "1025"
      - "8025:8025"
    entrypoint: ["/bin/sh", "-c", "MailHog | awk '!/KEEPALIVE/'"]

volumes:
  db_data:
  minio_data:
  redis_data:
