@import "tailwindcss";

html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

/* Smooth transitions for better UX */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
